<!--
Author: Jan Kopidol

A razor component for common controls of the PRAM machine.

-->
@using Blazor_app.Services
@using PRAM_lib.Machine
@inject GlobalService globalService
@inject ExecutionService execService

<style>

    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: white;
        border-bottom: 1px solid #dee2e6;
    }

    .button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

        .button-group .btn:not(:last-child) {
            margin-right: 3px;
        }

    .larger-text {
        font-size: 1.2em;
    }
</style>

<div class="sticky-top">
    <div class="button-group d-flex flex-wrap align-items-center justify-content-center">
        @if (globalService.SaveHistory)
        {
            <button class="btn btn-primary me-2 mb-2" @onclick="StepBackward">@TextUIService.ExecutionStepBack</button>
        }
        <button class="btn @GetNextButtonClass() me-2 mb-2" title="@TextUIService.ExecutionStepForwardTooltip" @onclick="StepForward">@TextUIService.ExecutionStepForward</button>
        <button class="btn @GetNextButtonClass() me-2 mb-2" title="@TextUIService.ExecutionStepUntilBreakpointTooltip" @onclick="RunUntilBreakpoint">@TextUIService.ExecutionStepUntilBreakpoint</button>
        <button class="btn @GetNextButtonClass() me-2 mb-2" @onclick="ToggleAutoRun">@TextUIService.ExecutionAutoRun</button>
        <button class="btn btn-primary me-2 mb-2" title="@TextUIService.ExecutionResetTooltip" @onclick="Reset">@TextUIService.ExecutionReset</button>

        <div class="text-center mb-2 larger-text">@TextUIService.CurrentExecutionInfo(execService.StepsTotal, execService.StepsIncludingParallel, execService.GetRunningParallelMachineCount())</div>
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        SubscribeToEvents();
        ResolveResetHistorySteps();
    }

    private void SubscribeToEvents()
    {
        execService.CommonControlsRefreshed += Refresh;
    }

    private void Refresh()
    {
        StateHasChanged();
    }

    // UNUSED Reset history steps
    bool showResetHistorySteps = false;
    private void ResolveResetHistorySteps()
    {
        if (execService.IsInHistory)
        {
            if (!showResetHistorySteps)
            {
                showResetHistorySteps = true;
                StateHasChanged();
            }
        }
        else
        {
            if (showResetHistorySteps)
            {
                showResetHistorySteps = false;
                StateHasChanged();
            }
        }
    }

    //UNUSED
    private void ResetHistorySteps()
    {
        execService.StepToPresent();
        ResolveResetHistorySteps();
    }

    private void Reset()
    {
        execService.ResetMachine();
    }

    private void ClearMemories()
    {
        execService.ClearMemories();
    }

    private void StepForward()
    {
        execService.StepForward();
        ResolveResetHistorySteps();
    }

    private void StepBackward()
    {
        execService.StepBackward();
        ResolveResetHistorySteps();
    }

    private void ToggleAutoRun()
    {
        execService.ToggleAutoRun();
        ResolveResetHistorySteps();
    }

    private void RunUntilBreakpoint()
    {
        execService.RunUntilBreakpoint();
        ResolveResetHistorySteps();
    }

    private string GetNextButtonClass()
    {
        if (execService.IsInHistory)
        {
            return "btn btn-primary";
        }

        if (execService.CanMachineExecute())
        {
            return "btn btn-primary";
        }

        return "btn btn-secondary";
    }

    public void Dispose()
    {
        execService.CommonControlsRefreshed -= Refresh;
    }
}
