<!--
Author: Jan Kopidol

A major razor component for settings.

-->

@page "/settings"
@using Blazor_app.Services
@using PRAM_lib.Machine
@using System.Text
@using System.Collections.ObjectModel
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject GlobalService globalService
@inject PramMachine pramMachine
@inject CodeEditorService codeEditorService


<div class="container mt-5">
    <h3 class="text-center mb-4">Settings</h3>

    <div class="d-flex flex-column align-items-center">

        <div class="card mb-3" style="width: 50%;">
            <div class="card-body">
                <h3 class="card-title">@TextUIService.SettingsTitleRunConfiguration</h3>

                <div class="form-group mb-1">
                    <label for="autoStepSpeedSlider">@TextUIService.SettingsAutoStepSpeed</label>
                    <input type="range" class="form-control-range" id="autoStepSpeedSlider"
                           min="@globalService.MinAutoStepSpeed" max="@globalService.MaxAutoStepSpeed" value="@globalService.AutoStepSpeed"
                           @onchange="AutoStepSpeedChanged">
                    <span>@globalService.AutoStepSpeed</span>
                </div>

                <div class="form-group mb-1">
                    <input type="checkbox" @bind="globalService.HideMemoryCells" id="hideMemoryCellsCheckbox" aria-label="@TextUIService.SettingsHideUnsetMemoryCells">
                    <label for="hideMemoryCellsCheckbox" class="ms-2">@TextUIService.SettingsHideUnsetMemoryCells</label>
                </div>

                <div class="form-group mb-1">
                    <input type="checkbox" @bind="globalService.SaveHistory" id="savehistorycheckbox" aria-label="@TextUIService.SettingsSaveHistory">
                    <label for="savehistorycheckbox" class="ms-2">@TextUIService.SettingsSaveHistory</label>
                </div>

                <div class="form-group mb-1">
                    <input type="checkbox" @bind="globalService.FixedCode" id="fixedcodecheckbox" aria-label="@TextUIService.SettingsFixParallelCodeInPlace">
                    <label for="fixedcodecheckbox" class="ms-2">@TextUIService.SettingsFixParallelCodeInPlace</label>
                    <label for="fixedCodeLinesSlider">:</label>
                    <input type="range" class="form-control-range" id="fixedCodeLinesSlider"
                           min="@globalService.MinFixedCodeLength" max="@globalService.MaxFixedCodeLength" value="@globalService.FixedCodeLength"
                           @onchange="FixedCodeLengthChanged">
                    <span>@globalService.FixedCodeLength</span>
                </div>

                <div class="form-group mb-1">
                    <label for="crcwAccessType">@TextUIService.SettingsCRCWAccessType</label>
                    <select id="crcwAccessType" class="form-control" @bind="pramMachine.CRCW_Access">
                        @foreach (var accessType in Enum.GetValues<PRAM_lib.Machine.PramMachine.CRCW_AccessType>())
                        {
                            <option value="@accessType">@accessType</option>
                        }
                    </select>
                </div>

            </div>
        </div>

        <div class="card mb-3" style="width: 50%;">
            <div class="card-body">
                <h3 class="card-title">@TextUIService.SettingsTitleMachineImportExport</h3>
                <input type="file" id="fileInput" style="display:none" />
                <button type="button" class="btn btn-primary" @onclick="ImportMachine">
                    Import
                </button>

                <button type="button" class="btn btn-secondary"
                        @onclick="ExportMachine">
                    Export
                </button>

                <button type="button" class="btn btn-warning"
                        @onclick="ReimportMachine">
                    Re-Import
                </button>
            </div>
        </div>

        <div class="card mb-3" style="width: 50%;">
            <div class="card-body">
                <h3 class="card-title">@TextUIService.SettingsTitleRegexImportExport</h3>
                <input type="file" id="fileInput" style="display:none" />
                <button type="button" class="btn btn-primary" @onclick="ImportRegex">
                    Import
                </button>

                <button type="button" class="btn btn-secondary"
                        @onclick="ExportRegex">
                    Export
                </button>
                <button type="button" class="btn btn-warning"
                        @onclick="ResetRegex">
                    Reset
                </button>

            </div>
        </div>

        <div class="card mb-3" style="width: 50%;">
            <div class="card-body">
                <h3 class="card-title">@TextUIService.SettingsTitleEditingInstructionRegex</h3>
                <p class="card-text">@TextUIService.SettingsEditingInstructionRegexWarning</p>
                <button type="button" class="btn btn-primary" @onclick="NavigateToRegexSettings">
                    @TextUIService.SettingsEditingInstructionRegexContinue
                </button>
            </div>
        </div>

    </div>
</div>

@code {

    private void AutoStepSpeedChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int newValue))
        {
            globalService.SetAutoStepSpeed(newValue);
        }
    }

    private void FixedCodeLengthChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int newValue))
        {
            globalService.SetFixedCodeLength(newValue);
        }
    }

    private void ResetRegex()
    {
        pramMachine.InstructionRegex.ResetToDefault();
        globalService.SetLastState(TextUIService.StateIndicatorAllRegexReset, GlobalService.LastStateUniform.Note);
    }

    private void NavigateToRegexSettings()
    {
        navigationManager.NavigateTo("/regexsettings");
    }

    public void ExportMachine()
    {
        StringBuilder sb = new StringBuilder();
        sb.AppendLine("MACHINECODE");
        sb.AppendLine(codeEditorService.Code);
        sb.AppendLine("MEMORYINPUT");
        for (int i = 0; i < pramMachine.GetInputMemory().Count; i++)
        {
            if (pramMachine.GetInputMemory()[i].HasBeenWrittenTo)
            {
                sb.AppendLine($"{i}:{pramMachine.GetInputMemory()[i].Value.ToString()}");
            }
            else
            {
                continue;
            }
        }

        sb.AppendLine("MEMORYSHARED");
        for (int i = 0; i < pramMachine.GetSharedMemory().Count; i++)
        {
            if (pramMachine.GetSharedMemory()[i].HasBeenWrittenTo)
            {
                sb.AppendLine($"{i}:{pramMachine.GetSharedMemory()[i].Value.ToString()}");
            }
            else
            {
                continue;
            }
        }

        string fileName = codeEditorService.Code.Split('\n')[0];
        //check if firstCodeLine is a valid file name and if it is a comment, if not, use default name
        if (!(fileName.IndexOfAny(System.IO.Path.GetInvalidFileNameChars()) == -1 && pramMachine.InstructionRegex.Comment.IsMatch(fileName)))
        {
            fileName = $"machine {DateTime.Now:yyyyMMddHHmmss}.txt";
        }

        try
        {
            JSRuntime.InvokeVoidAsync("downloadFileFromBlazor", $"{fileName}", "text/plain", sb.ToString());
        }
        catch (Exception)
        {
            globalService.SetLastState(TextUIService.StateIndicatorFailedToExportMachine, GlobalService.LastStateUniform.Error);
        }
    }

    private void ImportMachine()
    {
        var dotNetReference = DotNetObjectReference.Create(this);
        JSRuntime.InvokeVoidAsync("initializeUpload", dotNetReference, "fileInput", "ReceiveMachineFileContent");
    }

    private void ReimportMachine()
    {
        if(globalService.LastImportedMachine != null)
        {
            ReceiveMachineFileContent(globalService.LastImportedMachine);
        }
    }

    [JSInvokable]
    public Task ReceiveMachineFileContent(string fileContent)
    {
        if (string.IsNullOrEmpty(fileContent))
        {
            globalService.SetLastState(TextUIService.StateIndicatorFileRefusedTooLarge, GlobalService.LastStateUniform.Error);
            return Task.CompletedTask;
        }

        try
        {
            var sections = fileContent.Split(new[] { "MACHINECODE", "MEMORYINPUT", "MEMORYSHARED" }, StringSplitOptions.RemoveEmptyEntries);

            if (sections.Length < 3)
            {
                throw new FormatException(TextUIService.StateIndicatorFileFormatIncorrectOrCorrupted);
            }

            //sections[0] is code, sections[1] is input memory, sections[2] is shared memory
            codeEditorService.Code = sections[0].Trim();

            string? errorMessage = null;
            UpdateMemoryFromText(sections[1].Trim(), pramMachine.GetInteractiveInputMemory, out errorMessage);
            UpdateMemoryFromText(sections[2].Trim(), pramMachine.GetInteractiveSharedMemory, out errorMessage);

            if (errorMessage != null)
            {
                throw new FormatException(errorMessage);
            }
        }
        catch (Exception ex)
        {
            globalService.SetLastState(TextUIService.StateIndicatorFailedToImportMachine(ex.Message), GlobalService.LastStateUniform.Error);
            return Task.CompletedTask;
        }

        codeEditorService.EditCode();
        if (pramMachine.InstructionRegex.SaveToText() != globalService.DefaultRegex)
        {
            globalService.SetLastState(TextUIService.StateIndicatorMachineImportedSuccessfullyWarning, GlobalService.LastStateUniform.Warning);
        }
        else
        {
            globalService.SetLastState(TextUIService.StateIndicatorMachineImportedSuccessfully, GlobalService.LastStateUniform.Note);
        }

        globalService.LastImportedMachine = fileContent;
        navigationManager.NavigateTo("/");
        return Task.CompletedTask;
    }

    private void UpdateMemoryFromText(string memoryText, PRAM_lib.Memory.Interface.IMemory memory, out string? errorMessage)
    {
        memory.Clear();
        var lines = memoryText.Split('\n', StringSplitOptions.RemoveEmptyEntries);
        foreach (var line in lines)
        {
            var parts = line.Split(':');
            if (parts.Length == 2 && int.TryParse(parts[0], out int index) && int.TryParse(parts[1], out int value))
            {
                memory.Write(index, value);
            }
            else
            {
                errorMessage = TextUIService.StateIndicatorFailedToImportMemory;
                return;
            }
        }
        errorMessage = null;
    }

    private void ImportRegex()
    {
        var dotNetReference = DotNetObjectReference.Create(this);
        JSRuntime.InvokeVoidAsync("initializeUpload", dotNetReference, "fileInput", "ReceiveRegexFileContent");
    }

    [JSInvokable]
    public Task ReceiveRegexFileContent(string fileContent)
    {
        if (string.IsNullOrEmpty(fileContent))
        {
            globalService.SetLastState(TextUIService.StateIndicatorFileRefusedTooLarge, GlobalService.LastStateUniform.Error);
            return Task.CompletedTask;
        }

        bool result = pramMachine.InstructionRegex.LoadFromText(fileContent, out string errorMessage);

        if (!result)
        {
            globalService.SetLastState(errorMessage, GlobalService.LastStateUniform.Error);
        }
        else
        {
            globalService.SetLastState(TextUIService.StateIndicatorRegexImportedSuccessfully, GlobalService.LastStateUniform.Note);
        }

        return Task.CompletedTask;
    }

    private async Task ExportRegex()
    {
        try
        {
            string json = pramMachine.InstructionRegex.SaveToText();
            await JSRuntime.InvokeVoidAsync("downloadFileFromBlazor", "regex.txt", "text/plain", json);
        }
        catch (Exception)
        {
            globalService.SetLastState(TextUIService.StateIndicatorFailedToExportRegex, GlobalService.LastStateUniform.Error);
        }
    }
}
