<!--
Author: Jan Kopidol

A major razor component serving as the home / landing page. Displays the code editor, input/ output/ shared memory, and common controls.

-->
@page "/"
@using Blazor_app.Services
@using PRAM_lib.Machine
@using PRAM_lib.Memory
@inject PramMachine pramMachine
@inject GlobalService globalService
@inject ExecutionService execService
@inject CodeEditorService codeEditorService
@inject NavigationManager navigationManager

<PageTitle>PRAM Simulator</PageTitle>
<Blazor_app.Components.CommonControls />

<div class="container my-2 mt-2">
    <div class="row">
        <div class="col">

            @if (codeEditorService.EditMode)
            {
                <div class="container mb-2 mx-3">
                    <button @onclick="codeEditorService.CancelEditMode" class="btn btn-danger">@TextUIService.HomePageCodeEditorCancel</button>
                    <button @onclick="CompileCode" class="btn btn-primary me-2">@TextUIService.HomePageCompile</button>
                </div>
            }
            else
            {
                <div class="container mb-2 mx-3">
                    <button @onclick="EditCode" class="btn btn-secondary">@TextUIService.HomePageEdit</button>
                </div>
            }

            <Blazor_app.Components.CodeEditor />

            @if (globalService.ShowUserManual)
            {
                <br />
                <div class="container rounded py-3 px-4" style="background-color: lightyellow">
                    <h5>@TextUIService.SettingsFirstTimeUserManual</h5>
                    <button type="button" class="btn btn-primary" @onclick="NavigateToAbout">
                        @TextUIService.SettingsAboutButton
                    </button>
                    @{globalService.ShowUserManual = false;}
                </div>
            }
        </div>
        <div class="col">
            <div class="text-center">
                <h4>@TextUIService.MemoryInputTitle</h4>
            </div>

            <div class="text-center my-1">
                <button class="btn btn-secondary" @onclick="ClearInputMemory">@TextUIService.MemoryClear</button>
            </div>

            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@execService.GetMemoryContextInput()" />
            <div class="text-center">
                <button class="btn btn-light" @onclick="AddInputCell">@TextUIService.MemoryAddCell</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h4>@TextUIService.MemorySharedTitle</h4>
            </div>

            <div class="text-center my-1">
                <button class="btn btn-secondary" @onclick="ClearSharedMemory">@TextUIService.MemoryClear</button>
            </div>
            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@execService.GetMemoryContextShared()" />
            <div class="text-center">
                <button class="btn btn-light" @onclick="AddSharedMemoryCell">@TextUIService.MemoryAddCell</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h4>@TextUIService.MemoryOutputTitle</h4>
            </div>

            <div class="text-center">
                <button class="btn btn-secondary my-1" @onclick="ClearOutputMemory">@TextUIService.MemoryClear</button>
            </div>
            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@execService.GetMemoryContextOutput()" />
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SubscribeToEvents();
    }

    private void SubscribeToEvents()
    {
        execService.MemoryRefreshed += MemorySourcesRefreshed;
    }

    public void MemorySourcesRefreshed()
    {
        StateHasChanged();
    }

    private void AddSharedMemoryCell()
    {
        pramMachine.GetSharedMemory().Add(new MemoryCell());
    }

    private void AddInputCell()
    {
        pramMachine.GetInputMemory().Add(new MemoryCell());
    }

    private void testAdd()
    {
        pramMachine.GetSharedMemory()[2].Value = 5000;
        execService.RefreshMemory();
    }

    private void CompileCode()
    {
        execService.CompileCode();
    }

    private void EditCode()
    {
        codeEditorService.EditCode();
        StateHasChanged();
    }

    private void ClearInputMemory()
    {
        pramMachine.GetInputMemory().Clear();
    }

    private void ClearSharedMemory()
    {
        pramMachine.GetSharedMemory().Clear();
    }

    private void ClearOutputMemory()
    {
        pramMachine.GetOutputMemory().Clear();
    }

    private void NavigateToAbout()
    {
        navigationManager.NavigateTo("/about");
    }

    public void Dispose()
    {
        execService.MemoryRefreshed -= MemorySourcesRefreshed;
    }
}